<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" id="menu-material" (ionWillOpen)="onMenuOpen()">
      <ion-content>
        <div class="menu-header">
          <!--material-design-background-->
          <img class="user-avatar round" src="{{ authUser?.picture }}"/>
          <p class="name">{{ authUser?.firstName }} {{ authUser?.lastName }}</p>
          <p class="e-mail">N°. PPR: {{ authUser?.PPRNumber }}</p>
        </div>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let page of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[page.url]">
              <ion-icon slot="start" [name]="page.icon"></ion-icon>
              <ion-label>
                {{ page.title }}
              </ion-label>
            </ion-item>
            <ion-item (click)="logout()">
              <ion-icon slot="start" name="lock"></ion-icon>
              <ion-label>Se Déconnecter</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
