#menu-material {
.menu-header {
        padding: 5px 15px;
        // --background: #f00; 
        background-image: url('/assets/img/pages/login/bg.png');
        background-size: cover;
        color: white;
    .name {
        font-weight: 500;
        margin-bottom: 3px;
        margin-top: 5px;
    }
    .e-mail {
        margin-top: 0;
        margin-bottom: 5px;
    }
}
.user-avatar {
    padding: .5em;
    height: 12vh;
    border-radius: 50%;
}
h3,
.label,
{
    color: #999;
    font-weight: 400;
}
ion-icon {
    color: #777;
}
}
  