ion-card {
    position: relative;
    text-align: center;
}

.card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
}

ion-content{
    --ion-background-color:#e8ecef;
  }
  
  ion-header {
    --background: #3c4256;
    --ion-color-base: #3c4256 !important;
    box-shadow: none !important;
  }
  
  ion-toolbar {
  --background: #3c4256;
  --ion-color-base: #3c4256 !important;
  }
  
  .ion-toolbar {
    --background: #3f4458;
    color: #fff
  }
  
.global-title {
    background: #3c4256;
    text-align: center;
    padding-bottom: 70px;
    padding-top: 10px;
    color: #fff;
}

.global-title .subtitle {
    color: #86c02f;
}

.global-title h4 {
    margin-top: 10px;
}

.category-card {
    background-color: #3f4458;
    padding: 17px 10px;
    color: #fff;
}