ion-content{
  // --background: #00F;
  --background: #fff url('/assets/img/pages/login/bg.png') no-repeat center center / cover;
}
.container {
  display: flex;           /* establish flex container */
  flex-direction: row;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
  height: 100%;
}
.vertical-center {
  text-align: center;
}
.logo {
  margin: 0 auto;
  margin-top: 100px;
  height: 150px;
  padding-bottom: 0px;
}
.header {
  text-align: center;
  width: 100%;
}
.login-button {
  width: 100%;
  --border-radius: 0px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}
.ppr-number-input {
  background: transparent;
  padding: 10px;
  color: #fff;
}

.ppr-input {
  --background: rgba(82, 90, 111, .6);
  width: 100%;
  margin-left: 1px;
}

.ppr-input ion-icon {
  color: #a9adb8;
  margin-right: 15px;
}