ion-content{
  --ion-background-color:#e8ecef;
}

.ion-toolbar {
  --background: #3f4458;
  color: #fff
}

.annexes-card {
  border-left: 6px solid #3f4458;
  border-radius: 0px;
  background: #fff;
  margin-bottom: 15px;
  margin-top: 15px;
}

.annexes-card ion-card-content {
  padding: 5px 10px 5px 0px;
}

.annexes-card ion-card-content .content {
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
}

.annexes-card .title {
  text-align: center;
  font-weight: bold;
  color: #3f4458;
}